<!-- contains the list of blogs from the database -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{all_amigos_blogs_text}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
<body>
     <!-- Include navbar here from navbar.html -->
     <div>
        {% include '/navbar/navbar.html' %}
     </div>
    <div style="margin-top: 70px;">
        <!-- can be a carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            </div>
            <!-- The slideshow/carousel -->
            <!--  carousel logic can be changed. .... -->
            <div class="carousel-inner" style="height: 300px;">
              <div class="carousel-item active">
                <img src="/static/images/home_image.png" alt="Los Angeles" class="d-block" style="width:100%;">
              </div>
              <div class="carousel-item">
                <img src="/static/images/home_image.png" alt="Chicago" class="d-block" style="width:100%">
              </div>
            </div>
            
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
          
        <!-- display all the posts -->
         <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
          <!-- loop through & .... -->
          {% for key, blogs_list in blogs.items() %}
          {% for blog in blogs_list %}
          <div class="card" style="width: 15rem; margin: 10px;">
            <img class="card-img-top" src="{{blog[3]}}" alt="Card image cap">
            <div class="card-body">
              <span>By : {{blog[5]}} - {{blog[4]}}</span> <hr>
              <h5 class="card-title">{{blog[1]}}</h5>
              <p class="card-text" style="max-height: 100px; overflow: hidden;">{{blog[2]}}.</p>
              <a href="/blogs/{{blog[0]}}" class="btn btn-primary">Go to Details</a>
            </div>
          </div>
          {% endfor %}
          {% endfor %}
         </div>
    </div>
</body>
</html>