<!-- include / link css files -->
<link rel="stylesheet" href="{{ url_for('static', filename='nav_styles.css') }}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <p class="navbar-brand" style="color: white"><i>My Blogs</i></p>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">{{home_nav_text}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{blogs_nav_text}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">{{admin_login_nav_text}}</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search Blogs" aria-label="Search">
              <button class="btn btn-outline-warning" type="submit" style="color: whitesmoke">{{search_nav_text}}</button>
            </form>
          </div>
    </div>
</nav>

    
